Perkin-UAT/force-app/main/default/flows/BD_Work_Order_TRG_After_Save.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Email_Credit_Collections</name>
        <label>Email Credit &amp; Collections</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>decRemoteOwnerChanged</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>getTranslation.BD_Credit_Collections_Email__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Equipment Installation Notification</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>ttCreditCollections</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Initial_Variables</name>
        <label>Assign Initial Variables</label>
        <locationX>336</locationX>
        <locationY>323</locationY>
        <assignmentItems>
            <assignToReference>varWorkOrder.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varUpdateWorkOrder</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPredictedDateAdded</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decCredit_CollectionsEmail</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Predicted_Date</name>
        <label>Assign Predicted Date</label>
        <locationX>50</locationX>
        <locationY>1955</locationY>
        <assignmentItems>
            <assignToReference>varWorkOrder.SMAX_PS_Predicted_Scheduled_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varPredictedDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varUpdateWorkOrder</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Work_Order_Completed</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>constantListWOTypeGroup1</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Billable Calibration,Billable PM,Calibration,Check,Planned Maintenance</stringValue>
        </value>
    </constants>
    <constants>
        <name>constantListWOTypeGroup2</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Billable Qualification,Billable UOQ,Instr. Performance Validation,OQ/PQ,Software validation,Universal IQOQ,Universal OQ,Validation Services</stringValue>
        </value>
    </constants>
    <decisions>
        <name>decCredit_CollectionsEmail</name>
        <label>decCredit_CollectionsEmail</label>
        <locationX>336</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>decRemoteOwnerChanged</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Credit_Collections_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SVMXC__Order_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Installation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SVMXC__Order_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Work Complete</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SMAX_PS_Owned_By_Company__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LSDX</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getTranslation</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Credit &amp; Collections Email</label>
        </rules>
    </decisions>
    <decisions>
        <name>decEmailPresent</name>
        <label>decEmailPresent</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>decRemoteOwnerChanged</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>C_C_Email_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getTranslation.BD_Credit_Collections_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Credit_Collections</targetReference>
            </connector>
            <label>C&amp;C Email Present</label>
        </rules>
    </decisions>
    <decisions>
        <description>ITSVMX-1442 &amp; 1709</description>
        <name>decRemoteOwnerChanged</name>
        <label>decRemoteOwnerChanged</label>
        <locationX>336</locationX>
        <locationY>1031</locationY>
        <defaultConnector>
            <targetReference>Needs_Predicted_Schedule_Date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Remote_Owner_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Remote</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SVMXC__Order_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Canceled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SVMXC__Order_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getRemoteOwner</targetReference>
            </connector>
            <label>Remote Owner Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>decUserID</name>
        <label>decUserID</label>
        <locationX>182</locationX>
        <locationY>1247</locationY>
        <defaultConnector>
            <targetReference>Needs_Predicted_Schedule_Date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Owner_is_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getRemoteOwner.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateRemoteAssignedOwner</targetReference>
            </connector>
            <label>Owner is User</label>
        </rules>
    </decisions>
    <decisions>
        <name>Needs_Predicted_Schedule_Date</name>
        <label>Needs Predicted Schedule Date?</label>
        <locationX>336</locationX>
        <locationY>1631</locationY>
        <defaultConnector>
            <targetReference>Work_Order_Completed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YES_NeedsPredictedDate</name>
            <conditionLogic>1 AND (2 OR 3 OR 4 OR 5 OR 6 OR 7 OR 8 OR 9 OR 10 OR 11 OR 12 OR 13 OR 14 OR 15 OR 16)</conditionLogic>
            <conditions>
                <leftValueReference>fxIsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SVMXC__Order_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Billable PM</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SVMXC__Order_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Check</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SVMXC__Order_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Calibration</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SVMXC__Order_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Billable Calibration</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SVMXC__Order_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Billable LabMetrix</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SVMXC__Order_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Billable Qualification</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SVMXC__Order_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Billable UOQ</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SVMXC__Order_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Instr. Performance Validation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SVMXC__Order_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OQ/PQ</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SVMXC__Order_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Qualification - Lab Manager</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SVMXC__Order_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Software validation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SVMXC__Order_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Universal IQOQ</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SVMXC__Order_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Universal OQ</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SVMXC__Order_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Validation Services</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SVMXC__Order_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Planned Maintenance</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Predicted_Scheduled_Date_Subflow</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_Work_Order_with_Case</name>
        <label>New Work Order with Case?</label>
        <locationX>336</locationX>
        <locationY>2531</locationY>
        <defaultConnector>
            <targetReference>WO_Moved_to_Work_Complete</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YES_NewWithCase</name>
            <conditionLogic>1 AND 2 AND (3 OR 4 OR 5 OR 6 OR 7 OR 8 OR 9 OR 10) AND(11 OR 12)</conditionLogic>
            <conditions>
                <leftValueReference>fxIsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SVMXC__Case__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SMAX_PS_SalesOrg__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1US0</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SMAX_PS_SalesOrg__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CAS0</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SVMXC__Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>United States</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SVMXC__Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Canada</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SVMXC__Case__r.Sales_Org__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1US0</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SVMXC__Case__r.Sales_Org__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CAS0</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SVMXC__Case__r.Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>United States</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SVMXC__Case__r.Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Canada</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SVMXC__Case__r.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>012Ps000001rbNRIAY</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SVMXC__Case__r.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>012Ps0000029HDXIA2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Close_Case</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_VARs</name>
        <label>Update VARs?</label>
        <locationX>182</locationX>
        <locationY>1847</locationY>
        <defaultConnector>
            <targetReference>Work_Order_Completed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YES_UpdateVARs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varPredictedDateAdded</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Predicted_Date</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Work_Order</name>
        <label>Update Work Order?</label>
        <locationX>336</locationX>
        <locationY>3131</locationY>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YES_UpdateWorkOrder</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varUpdateWorkOrder</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Work_Order_Action</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if WO status being changed to Work Complete</description>
        <name>WO_Moved_to_Work_Complete</name>
        <label>WO Moved to Work Complete</label>
        <locationX>336</locationX>
        <locationY>2831</locationY>
        <defaultConnector>
            <targetReference>Update_Work_Order</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SVMXC__Order_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Work Complete</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SVMXC__Order_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Close_all_open_Service_Alert</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Work_Order_Completed</name>
        <label>Work Order Completed</label>
        <locationX>336</locationX>
        <locationY>2231</locationY>
        <defaultConnector>
            <targetReference>New_Work_Order_with_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Work_Order_Completed</name>
            <conditionLogic>1 AND 2 AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SVMXC__Completed_Date_Time__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SVMXC__Completed_Date_Time__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>constantListWOTypeGroup1</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$Record.SVMXC__Order_Type__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>constantListWOTypeGroup2</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$Record.SVMXC__Order_Type__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Open_Work_Orders_Predicted_Schedule_Date</targetReference>
            </connector>
            <label>Yes - Work Order Completed</label>
        </rules>
    </decisions>
    <description>V4: Removing reference to closing the associated case on insert. May be added back in the future
Updated 11/2024: ITSVMX-1504
Update 8/2025 - Close Case upon Work Order Creation</description>
    <environments>Default</environments>
    <formulas>
        <name>fxIsNew</name>
        <dataType>Boolean</dataType>
        <expression>IsNew()</expression>
    </formulas>
    <interviewLabel>BD Work Order TRG After Save {!$Flow.CurrentDateTime}</interviewLabel>
    <label>BD Work Order TRG After Save</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getRemoteOwner</name>
        <label>getRemoteOwner</label>
        <locationX>182</locationX>
        <locationY>1139</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decUserID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Owner:User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getTranslation</name>
        <label>getTranslation</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decEmailPresent</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SMAX_PS_Translation__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SMAX_PS_Translation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Close_Case</name>
        <label>Close Case</label>
        <locationX>204</locationX>
        <locationY>2639</locationY>
        <connector>
            <targetReference>WO_Moved_to_Work_Complete</targetReference>
        </connector>
        <inputAssignments>
            <field>Method_of_Payment__c</field>
            <value>
                <stringValue>Service Order Required</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.SVMXC__Case__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Work_Order_Action</name>
        <label>Update Work Order</label>
        <locationX>204</locationX>
        <locationY>3239</locationY>
        <inputReference>varWorkOrder</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updateRemoteAssignedOwner</name>
        <label>updateRemoteAssignedOwner</label>
        <locationX>50</locationX>
        <locationY>1355</locationY>
        <connector>
            <targetReference>Needs_Predicted_Schedule_Date</targetReference>
        </connector>
        <inputAssignments>
            <field>BD_Remote_Assigned_Owner__c</field>
            <value>
                <elementReference>getRemoteOwner.Name</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>210</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_Initial_Variables</targetReference>
        </connector>
        <object>SVMXC__Service_Order__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Close_all_open_Service_Alert</name>
        <label>Close all open Service Alert</label>
        <locationX>204</locationX>
        <locationY>2939</locationY>
        <connector>
            <targetReference>Update_Work_Order</targetReference>
        </connector>
        <flowName>Close_all_open_Service_Alerts_on_Work_Order</flowName>
        <inputAssignments>
            <name>WorkOrderId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>WorkPerformed</name>
            <value>
                <elementReference>$Record.SVMXC__Work_Performed__c</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Predicted_Scheduled_Date_Subflow</name>
        <label>Predicted Scheduled Date Subflow</label>
        <locationX>182</locationX>
        <locationY>1739</locationY>
        <connector>
            <targetReference>Update_VARs</targetReference>
        </connector>
        <flowName>SMAX_PS_Work_Order_Add_Predicted_Scheduled_Date</flowName>
        <inputAssignments>
            <name>CustomerRequiredStartDate</name>
            <value>
                <elementReference>$Record.SMAX_PS_Customer_Required_Start_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varInstalledProductId</name>
            <value>
                <elementReference>$Record.SVMXC__Component__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varListOrderTypeGroup1</name>
            <value>
                <elementReference>constantListWOTypeGroup1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varListOrderTypeGroup2</name>
            <value>
                <elementReference>constantListWOTypeGroup2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varOrderType</name>
            <value>
                <elementReference>$Record.SVMXC__Order_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varSlaTerms</name>
            <value>
                <elementReference>$Record.SMAX_PS_SLA_Terms_Notes__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varWorkOrderId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varPredictedDate</assignToReference>
            <name>varPredictedDate</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varPredictedDateAdded</assignToReference>
            <name>varUpdateWorkOrder</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Update_Open_Work_Orders_Predicted_Schedule_Date</name>
        <label>Update Open Work Orders&#39; Predicted Schedule Date</label>
        <locationX>204</locationX>
        <locationY>2339</locationY>
        <connector>
            <targetReference>New_Work_Order_with_Case</targetReference>
        </connector>
        <flowName>SMAX_PS_Work_Order_Update_Predicted_Scheduled_Date</flowName>
        <inputAssignments>
            <name>varInstalledProductId</name>
            <value>
                <elementReference>$Record.SVMXC__Component__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varListOrderTypeGroup1</name>
            <value>
                <elementReference>constantListWOTypeGroup1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varListOrderTypeGroup2</name>
            <value>
                <elementReference>constantListWOTypeGroup2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varOrderType</name>
            <value>
                <elementReference>$Record.SVMXC__Order_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varSlaTerms</name>
            <value>
                <elementReference>$Record.SMAX_PS_SLA_Terms_Notes__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varWorkOrderId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <textTemplates>
        <name>ttCreditCollections</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>This notification is to inform you that equipment {!$Record.SVMXC__Component__r.Name} has been installed at {!$Record.SVMXC__Site__r.Name}. For reference see Work Order Number {!$Record.Name}.</text>
    </textTemplates>
    <variables>
        <name>varPredictedDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPredictedDateAdded</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varUpdateWorkOrder</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varWorkOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SVMXC__Service_Order__c</objectType>
    </variables>
</Flow>
