Perkin-UAT/force-app/main/default/flows/Close_all_open_Service_Alerts_on_Work_Order.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_SA_record_to_Collection</name>
        <label>Add SA record to Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ServiceAlertRecordstoUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_all_service_alerts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_all_service_alerts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_status_Closed</name>
        <label>Set status Closed</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Iterate_all_service_alerts.SVMX_PS_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Iterate_all_service_alerts.SVMX_PS_Closed_By__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Iterate_all_service_alerts.SVMX_PS_Date_Closed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Iterate_all_service_alerts.SVMX_PS_Final_Resolution_Summary__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WorkPerformed</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_SA_record_to_Collection</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Close all open Service Alerts on Work Order {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Close all open Service Alerts on Work Order</label>
    <loops>
        <name>Iterate_all_service_alerts</name>
        <label>Iterate all service alerts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_All_Open_Service_Alert</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_status_Closed</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Close_all_open_Service_Alerts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_Open_Service_Alert</name>
        <label>Get All Open Service Alert</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_all_service_alerts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SVMX_PS_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <filters>
            <field>SVMX_PS_Work_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WorkOrderId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SVMX_PS_Service_Alert__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Close_all_open_Service_Alerts</name>
        <label>Close all open Service Alerts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>ServiceAlertRecordstoUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_All_Open_Service_Alert</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ServiceAlertRecordstoUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SVMX_PS_Service_Alert__c</objectType>
    </variables>
    <variables>
        <name>WorkOrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WorkPerformed</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
