Perkin-UAT/force-app/main/default/flows/Opportunity_SCR_Create_New_CPQ_Quote.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Number_of_Quotes</name>
        <label>Assign Number of Quotes</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>varNumberOfExistingQuotes</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>varOtherQuoteIds</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Quote_Data_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assignment to get Picklist Choice Set IDs</description>
        <name>Assign_Picklist_Choices</name>
        <label>Assign Picklist Choices</label>
        <locationX>182</locationX>
        <locationY>1082</locationY>
        <assignmentItems>
            <assignToReference>CompanyIndustryIDAssignment</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Company_Industry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BillingCycleIDAssignment</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Billing_Cycle</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PaymentTermsIDAssignment</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Payment_Terms</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProductApplicationIDAssignment</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Product_Application</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SalesTypeIDAssignment</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QuoteSalesType</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Billing_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Quote_Id</name>
        <label>Assign Quote Id</label>
        <locationX>182</locationX>
        <locationY>1622</locationY>
        <assignmentItems>
            <assignToReference>varQuoteId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varSingleQuote.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>flowRedirect</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Quote_VARs</name>
        <label>Assign Quote VARs</label>
        <locationX>182</locationX>
        <locationY>1406</locationY>
        <assignmentItems>
            <assignToReference>varSingleQuote.SBQQ__Opportunity2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleQuote.SBQQ__Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Billing_Account.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleQuote.BD_Account_Ship_To__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Shipping_Account.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleQuote.SBQQ__PrimaryContact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Bill_To_Contact.selectedChoiceValues</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleQuote.End_User_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Ship_To_Contact.selectedChoiceValues</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleQuote.SBQQ__Primary__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Primary_Quote</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleQuote.SBQQ__PaymentTerms__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PaymentTermsIDAssignment</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleQuote.Billing_Cycle__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BillingCycleIDAssignment</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleQuote.SBQQ__ExpirationDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fxExpirationDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleQuote.SBQQ__SalesRep__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleQuote.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleQuote.SBQQ__Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Quote</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleQuote.SBQQ__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleQuote.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity.CurrencyIsoCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleQuote.SBQQ__PriceBook__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity.Pricebook2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleQuote.SBQQ__LineItemsPrinted__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleQuote.SBQQ__WatermarkShown__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleQuote.Bill_To_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Billing_Account.Account_Email__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleQuote.Ship_to_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Shipping_Account.Account_Email__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleQuote.SBQQ__ShippingCity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Shipping_Account.ShippingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleQuote.SBQQ__ShippingCountry__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Shipping_Account.ShippingCountry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleQuote.SBQQ__ShippingName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Shipping_Account.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleQuote.SBQQ__ShippingPostalCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Shipping_Account.ShippingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleQuote.SBQQ__ShippingState__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Shipping_Account.ShippingState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleQuote.SBQQ__ShippingStreet__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Shipping_Account.ShippingStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleQuote.Shipping_Terms__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Billing_Account.Shipping_Terms__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleQuote.SalesType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SalesTypeIDAssignment</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleQuote.BD_Company_Industry__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CompanyIndustryIDAssignment</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleQuote.BD_Product_Application__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ProductApplicationIDAssignment</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingleQuote.Custom_Payment_Terms__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Custom_Payment_Terms</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Insert_Quote</targetReference>
        </connector>
    </assignments>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <description>Check for Sales Org and Sales Type to setup Shipping Terms</description>
        <name>Check_for_Sales_Org_and_Sales_Type_to_setup_Shipping_Terms</name>
        <label>Check for Sales Org and Sales Type to setup Shipping Terms</label>
        <locationX>182</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Assign_Picklist_Choices</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Shipping_Terms_as_DDP</name>
            <conditionLogic>1 AND (2 OR 3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity.Sales_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Aftermarket</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Price_Book.BD_Sales_Org__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CN10</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Price_Book.BD_Sales_Org__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CN90</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Price_Book.BD_Sales_Org__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CNEA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_the_Shipping_Terms_to_DDP</targetReference>
            </connector>
            <label>Shipping Terms as DDP</label>
        </rules>
    </decisions>
    <decisions>
        <name>CHK_Running_User_vs_Opp_Owner</name>
        <label>CHK Running User vs Opp Owner</label>
        <locationX>468</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>SCR_Display_Owner_Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Running User NOT Opp Owner</defaultConnectorLabel>
        <rules>
            <name>Runner_User_is_Opp_Owner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity.OwnerId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$User.fxUserId18__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Quotes</targetReference>
            </connector>
            <label>Runner User is Opp Owner</label>
        </rules>
    </decisions>
    <description>Added a check for Opp Owner vs Running User
SC-389 Expiration Date may be populated manually only for Quotes related to Tender Opportunities. For others is automatically populated in Quote TRG Init Expiration Date record trigger flow.</description>
    <dynamicChoiceSets>
        <name>billToContactChoices</name>
        <collectionReference>getBillToContacts.retrievedRecords</collectionReference>
        <dataType>String</dataType>
        <displayField>BD_Contact_Name_Label__c</displayField>
        <object>Contact</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>Created by PWC as part of SC-496.</description>
        <name>CompanyIndustryPicklistChoiceSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>BD_Company_Industry__c</picklistField>
        <picklistObject>SBQQ__Quote__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>cQuoteLanguage</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>SBQQ__QuoteLanguage__c</picklistField>
        <picklistObject>SBQQ__Quote__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>pcsBillingCycle</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Billing_Cycle__c</picklistField>
        <picklistObject>SBQQ__Quote__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>pcsPaymentTerms</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>SBQQ__PaymentTerms__c</picklistField>
        <picklistObject>SBQQ__Quote__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>Created by PWC as part of SC-496.</description>
        <name>ProductApplicationPicklistChoiceSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>BD_Product_Application__c</picklistField>
        <picklistObject>SBQQ__Quote__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SalesTypeChoiceSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>SalesType__c</picklistField>
        <picklistObject>SBQQ__Quote__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>shipToContacts</name>
        <collectionReference>getShipToContact.retrievedRecords</collectionReference>
        <dataType>String</dataType>
        <displayField>BD_Contact_Name_Label__c</displayField>
        <object>Contact</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>fxCalculateSalesType</name>
        <dataType>String</dataType>
        <expression>IF({!Get_Opportunity.RecordType.DeveloperName} = &#39;ServiceContract&#39;, &#39;Service Contracts&#39;, IF({!Get_Opportunity.RecordType.DeveloperName} = &#39;Consumables&#39;, &#39;Consumables&#39;, &#39;POS&#39;))</expression>
    </formulas>
    <formulas>
        <name>fxCheckIfTender</name>
        <dataType>Boolean</dataType>
        <expression>IF({!Get_Opportunity.RecordType.DeveloperName} = &#39;Tender&#39;, false, true)</expression>
    </formulas>
    <formulas>
        <name>fxExpirationDate</name>
        <dataType>Date</dataType>
        <expression>{!Quote_Expiration_Tender}</expression>
    </formulas>
    <formulas>
        <name>fxPrimaryQuote</name>
        <dataType>Boolean</dataType>
        <expression>IF(
    {!varNumberOfExistingQuotes} &gt; 1, FALSE, TRUE
)</expression>
    </formulas>
    <interviewLabel>Opportunity SCR Create New CPQ Quote {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity SCR Create New CPQ Quote</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Insert_Quote</name>
        <label>Insert Quote</label>
        <locationX>182</locationX>
        <locationY>1514</locationY>
        <connector>
            <targetReference>Assign_Quote_Id</targetReference>
        </connector>
        <faultConnector>
            <targetReference>SCR_ErrorScreen</targetReference>
        </faultConnector>
        <inputReference>varSingleQuote</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Billing_Account</name>
        <label>Get Billing Account</label>
        <locationX>182</locationX>
        <locationY>1190</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Shipping_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>468</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CHK_Running_User_vs_Opp_Owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Price Book</description>
        <name>Get_Price_Book</name>
        <label>Get Price Book</label>
        <locationX>182</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_Sales_Org_and_Sales_Type_to_setup_Shipping_Terms</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity.Pricebook2Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Pricebook2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Quotes</name>
        <label>Get Quotes</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Number_of_Quotes</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Opportunity2__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>SBQQ__Primary__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>SBQQ__Quote__c</object>
        <outputReference>varOtherQuoteIds</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Shipping_Account</name>
        <label>Get Shipping Account</label>
        <locationX>182</locationX>
        <locationY>1298</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Quote_VARs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Account_ShipTo.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Update the Shipping Terms to DDP</description>
        <name>Update_the_Shipping_Terms_to_DDP</name>
        <label>Update the Shipping Terms to DDP</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>Assign_Picklist_Choices</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Shipping_Terms__c</field>
            <value>
                <stringValue>DDP</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <screens>
        <name>flowRedirect</name>
        <label>flowRedirect</label>
        <locationX>182</locationX>
        <locationY>1730</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>cmpFlowRedirect</name>
            <extensionName>c:BD_flowRedirect</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recId</name>
                <value>
                    <elementReference>varQuoteId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Quote_Data_Screen</name>
        <label>Quote Data Screen</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Price_Book</targetReference>
        </connector>
        <fields>
            <name>Quote_Data_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Quote_Data_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>dispBillToAccount</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Bill To Account:&lt;/strong&gt; {!Get_Opportunity.Account.Name}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>getBillToContacts</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Contact</typeValue>
                    </dataTypeMappings>
                    <dataTypeMappings>
                        <typeName>S</typeName>
                        <typeValue>Account</typeValue>
                    </dataTypeMappings>
                    <extensionName>joshdaymentlabs:dataFetcher</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectName1</name>
                        <value>
                            <stringValue>Contact</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>queryString</name>
                        <value>
                            <elementReference>txtGetBillToContacts</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>QuoteSalesType</name>
                    <choiceReferences>SalesTypeChoiceSet</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>fxCalculateSalesType</elementReference>
                    </defaultValue>
                    <fieldText>SalesTypeForTender</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <elementReference>fxCheckIfTender</elementReference>
                    </isDisabled>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Bill_To_Contact</name>
                    <choiceReferences>billToContactChoices</choiceReferences>
                    <extensionName>flowruntime:choiceLookup</extensionName>
                    <fieldText>Bill To Contact</fieldText>
                    <fieldType>ComponentChoice</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Company_Industry</name>
                    <choiceReferences>CompanyIndustryPicklistChoiceSet</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Company Industry</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>fxCalculateSalesType</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>POS</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Product_Application</name>
                    <choiceReferences>ProductApplicationPicklistChoiceSet</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Product Application</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>fxCalculateSalesType</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>POS</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Quote_Expiration_Tender</name>
                    <dataType>Date</dataType>
                    <fieldText>Quote Expiration</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_Opportunity.RecordType.DeveloperName</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Tender</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Primary_Quote</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>fxPrimaryQuote</elementReference>
                    </defaultValue>
                    <fieldText>Primary Quote</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Quote_Data_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Account_ShipTo</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>BD_Account_Ship_To__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Ship To Account</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>SBQQ__Quote__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>getShipToContact</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Contact</typeValue>
                    </dataTypeMappings>
                    <dataTypeMappings>
                        <typeName>S</typeName>
                        <typeValue>Account</typeValue>
                    </dataTypeMappings>
                    <extensionName>joshdaymentlabs:dataFetcher</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectName1</name>
                        <value>
                            <stringValue>Contact</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>queryString</name>
                        <value>
                            <elementReference>txtGetShipToContact</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Ship_To_Contact</name>
                    <choiceReferences>shipToContacts</choiceReferences>
                    <extensionName>flowruntime:choiceLookup</extensionName>
                    <fieldText>Ship To Contact</fieldText>
                    <fieldType>ComponentChoice</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Payment_Terms</name>
                    <choiceReferences>pcsPaymentTerms</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Use Customer Default</stringValue>
                    </defaultValue>
                    <fieldText>Payment Terms</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Custom_Payment_Terms</name>
                    <dataType>String</dataType>
                    <fieldText>Custom Payment Terms</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Payment_Terms</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Custom Payment Terms</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Billing_Cycle</name>
                    <choiceReferences>pcsBillingCycle</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Billing Cycle</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SCR_Display_Owner_Error</name>
        <label>SCR Display Owner Error</label>
        <locationX>754</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DisplayError</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;You cannot create a quote for this opportunity as you are not the opportunity owner.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SCR_ErrorScreen</name>
        <label>SCR ErrorScreen</label>
        <locationX>490</locationX>
        <locationY>1622</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Quote_Data_Screen</targetReference>
        </connector>
        <fields>
            <name>Fault_Message</name>
            <fieldText>&lt;p&gt;We’re sorry — an unexpected error occurred and we couldn’t complete this step.&amp;nbsp;&lt;/p&gt;&lt;p&gt;Please contact your system administrator and provide the error message below:&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>342</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opportunity</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>txtGetBillToContacts</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Select Id, Name, BD_Contact_Name_Label__c FROM Contact WHERE AccountId = &#39;{!Get_Opportunity.AccountId}&#39; AND PKI_SAP_Contact_ID__c != NULL ORDER BY BD_Contact_Name_Label__c ASC</text>
    </textTemplates>
    <textTemplates>
        <name>txtGetShipToContact</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Select ID, Name, BD_Contact_Name_Label__c FROM Contact WHERE AccountId = &#39;{!Account_ShipTo.recordId}&#39; AND PKI_SAP_Contact_ID__c != NULL ORDER BY BD_Contact_Name_Label__c ASC</text>
    </textTemplates>
    <variables>
        <name>BillingCycleIDAssignment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CompanyIndustryIDAssignment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PaymentTermsIDAssignment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProductApplicationIDAssignment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SalesTypeIDAssignment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varNumberOfExistingQuotes</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varOtherQuoteIds</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__Quote__c</objectType>
    </variables>
    <variables>
        <name>varQuoteId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSingleQuote</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__Quote__c</objectType>
    </variables>
    <variables>
        <name>vBillToAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vBillToContact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vShipToAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vShipToContact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
